body {
    color: #001028;
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-family: Arial;
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
}
header {
    padding: 10px 0;
    margin-bottom: 30px;
}
h1 {
    border-top: 1px solid  #5D6975;
    border-bottom: 1px solid  #5D6975;
    color: #5D6975;
    font-size: 2.4em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: center;
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}
table th {
    padding: 5px 20px;
    color: #5D6975;
    border-bottom: 1px solid #C1CED9;
    white-space: nowrap;
    font-weight: normal;
}



#table-main tr:nth-child(even){
    background-color: #f2f2f2;

}

#table-main th {
    padding: 3px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-size: 1.2em;

}

span input {
    margin-left: 10px;
}

.table-add-text {
    font-size: 19px;
    border: 2px solid lightgrey;
    border-radius: 19px;
    padding: 0 10px;
}

#table-main td {
    padding: 3px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1.2em;

}

.table-footer-right{
    text-align: right;

}

.control-buttons{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    color: green;
}

#button-edit{
    background: url(Icons/edit.png) no-repeat;
    background-size: 30px;
}

#button-delete{
    background: url(Icons/delete.png) no-repeat;
    background-size: 30px;
}

#button-up{
    background: url(Icons/up.png) no-repeat;
    background-size: 30px;
}

#button-down{
    background: url(Icons/down.png) no-repeat;
    background-size: 30px;
}

#button-add{
    background: url(Icons/add.png) no-repeat;
    background-size: 30px;
    margin-left: 30px;
}

#button-confirm{
    background: url(Icons/confirm.png) no-repeat;
    background-size: 30px;
}

#button-cancel{
    background: url(Icons/cancel.png) no-repeat;
    background-size: 30px;
}